<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Danielozano_LogViewer::backend" title="Log Viewer" translate="title" sortOrder="999">
                    <resource id="Danielozano_LogViewer::view" title="View Log Content" translate="title" sortOrder="10" />
                    <resource id="Danielozano_LogViewer::download" title="Download Log" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
